/* styles.css */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    /*overflow-y: scroll;
    scrollbar-width: none;*/
    font-family: Roboto, sans-serif;
}

/* header styling */
.header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #9da8a2;
}

#header-title {
    font-size: 64px;
    padding: 8px;
    border: solid 4px #22211d;
    border-radius: 8px;
    background-color: #948486;
    color: #22211d;
}

/* main styling */
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #f4f4f4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.main-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.main-bottom-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 80px;
    border: solid #22211d 4px;
    border-radius: 10px;
    background-color: burlywood;
}

.main-bottom-bottom {
    display: flex;
    align-self: center;
    gap: 64px;
}

.player {
    display: flex;
    flex-direction: column;
}

#player-score {
    width: 64px;
    height: 64px;
    border: solid #22211d 4px;
    border-radius: 10px;
    background-color: burlywood;
    padding: 8px;
}

.score-display {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    width: 80px;
    height: 80px;
    gap: 4px;
}

.checks-player,
.checks-computer {
    width: 24px;
    height: 24px;
}

#p1,
#p2,
#p3,
#p4,
#p5 {
    visibility: hidden;
}

#c1, 
#c2, 
#c3, 
#c4, 
#c5 {
    visibility: hidden;
}

#computer-score {
    width: 64px;
    height: 64px;
    border: solid #22211d 4px;
    border-radius: 10px;
    background-color: burlywood;
    padding: 8px;
    margin-left: auto;
}

#rock,
#paper,
#scissors {
    height: 128px;
    width: 128px;
    padding: 8px;
    border: solid #22211d 4px;
    border-radius: 10px;
    background-color: burlywood;
}

#results-field {
    font-size: 28px;
    color: #22211d;
}

.footer {
    display: flex;
    background-color: #D5B59A;
    justify-content: center;
}